<% if (this.user) { %>
  <a href='#' class='new_resume'>New</a>
  <a href='#' class='resumes'>All</a>
  <a href='#' class='edit_resume'>Edit</a>
<% } %>
<% if (this.model) { %>
  <div class='container'>
    <div class='row'>
      <div class='five columns profile'>
        <h1><%= this.model.get('profile').fullNickNameWithSuffix() %></h1>
        <p class='title'><%= this.model.get('profile').get('title') %></p>
      </div>
      <div class='offset-by-two five columns address'>
        <p><%= this.model.get('address').lineOne() %></p>
        <p><%= this.model.get('address').lineTwo() %></p>
        <p><%= this.model.get('address').lineThree() %></p>
        </p>
      </div>
    </div>
  </div>
<% } else { %>
  <p>No Resume</p>
<% } %>
